.chief-form { /*This is for the form*/
    margin: 10px auto; /*Moves the form up and down*/
    width:350px; /*This is for the width of the form*/
    background-color:cadetblue;
    padding: 70px; /*This is for the size of the outline*/
    border-radius: 50px; /*This is for the cave*/
    font-family: Arial, sans-serif;

    
    position: absolute; /*positioning the form on middle of the screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.Header{
  text-align: center;
  font-size: 50px;
  color: white;
  
}

.chiefid{
  text-align: left;
  font-size: 20px;
}

.chiefname{
  text-align: left;
  font-size: 20px;
}

.login{
    color: white;
    padding: 0px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 15px;
    text-align: center;
    width:auto 50px;
}


input[type="text"],
input[type="text"],/*text holders*/
  textarea{
    height: 20px;/*Height of text area*/
    width: 80%; /*length of text input*/
    padding: 10px;
    border-radius:100px;
    margin-bottom: 20px;
    background-color:aliceblue;
  }

input[type="submit"] {
  background-color: rgb(38, 38, 226);
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  margin-right: 150px; /* add margin to the right of the button */
  font-size: 20px;
}

input[type="text"]:hover { /*hover effect for text space*/
  background-color:antiquewhite;
}
input[type="submit"]:hover { /*hover effect for submit button*/
    background-color: green;
}

